#header{
    font-size: 24px;
    border-radius: 0px;
    background-color:  #006A4D;
    height: 2vh;
}

.speedometer{
    width:100%;
    height:200px !important;
}

.chartjs-render-monitor{
    display: block;
    height: 200px !important;
    width: 100% !important;
} 

.current-value{
    font-size: 26px !important;
}